@import url('https://fonts.googleapis.com/css2?family=Ysabeau&display=swap');
:root{
    --color-primary:hsl(0, 60%, 100%);
    --secondary-color:hsl(180, 100%, 95%);
    --accent-color:hsl(170, 100%, 65%);
    --font:'Ysabeau', sans-serif;
}
body {
    background-color: var(--color-primary);
    font-family: var(--font);
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: .5fr 1fr 5fr;
}
label[for="search"]{
    justify-self: center;
    display: inline-block;
    width: 2rem;
}

svg {
    cursor: pointer;
    width: 100%;
    height: 100%;
}
object {
    cursor: pointer;
}
img{
    background: gray;
    border-radius: 50px;
    
}

.header, .navbar {
    background-color: var(--color-primary);
}

.sidebar {
    background-color: var(--accent-color);
}

.main {
    background-color: var(--secondary-color);
}

.header {
    padding:1rem;
    grid-column: 2 / 3;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, .5fr);
    align-items: center;
    gap: 1rem;
}

.search-container {
    display: grid;
    grid-template-columns: .1fr 1fr;
}
#search {
    height:2.5rem;
    width: auto;
}
.user-container {
    display: grid;
    grid-template-columns: 1fr .5fr 1fr;
}
#notifications{
    width: 50px;
    cursor: pointer;
    border: none;
    background-color: rgba(0,0,0,0);
}
.sidebar {
    grid-row: 1 / 4;
}
.navbar {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}


