body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: .5fr 1fr 5fr;
    gap: 16px;
}
label{
    justify-self: end;
    display: inline-block;
    width: 50px;
}

svg {
    cursor: pointer;
    width: 100%;
    height: 100%;
}
object {
    cursor: pointer;
}
img{
    background: gray;
    border-radius: 50px;
    padding: 5px;
}

.header, .sidebar, .navbar, .main {
    background-color: red;
}

.header {
    padding: 25px;
    grid-column: 2 / 3;
    display: grid;
    grid-template-columns: .2fr 3fr .2fr .2fr .5fr;
    align-items: center;
    gap: 16px;
    
}

.sidebar {
    grid-row: 1 / 4;
}
#search {
    height:50px;
    width: 50%;
}
#notifications{
    width: 50px;
    cursor: pointer;
    border: none;
    background-color: rgba(0,0,0,0);
}
