@import url('https://fonts.googleapis.com/css2?family=Ysabeau&display=swap');
:root{
    --color-primary:hsl(0, 60%, 100%);
    --secondary-color:hsl(176, 5%, 80%);
    --accent-color:hsl(200, 100%, 65%);
    --font:'Ysabeau', sans-serif;
}
body {
    background-color: var(--color-primary);
    font-family: var(--font);
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: .5fr 1fr 5fr;
}
label{
    justify-self: end;
    display: inline-block;
    width: 50px;
}

svg {
    cursor: pointer;
    width: 100%;
    height: 100%;
}
object {
    cursor: pointer;
}
img{
    background: gray;
    border-radius: 50px;
    padding: 5px;
}

.header,.navbar {
    background-color: var(--accent-color);
}

.sidebar {
    background-color: var(--secondary-color);
}

.header {
    padding:1rem;
    grid-column: 2 / 3;
    display: grid;
    grid-template-columns: .2fr 3fr .2fr .2fr .5fr;
    align-items: center;
    gap: 1rem;
}

.sidebar {
    grid-row: 1 / 4;
}

#search {
    height:50px;
    width: 50%;
}
#notifications{
    width: 50px;
    cursor: pointer;
    border: none;
    background-color: rgba(0,0,0,0);
}
